$green: #0E6B34;
$lime: #B0EA00;
$white: #FFF0DB;
$black: #3E3E42;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin-top: 20px;
    background-color: $green;
}

.clickable {
    cursor: pointer;
}

.w-70 {
    width: 70%;
}

.w-30 {
    width: 30%;
}

.app-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.main-menu {
    display: flex;
    background-color: $lime;
    width: 98%;
    justify-content: space-around;
    border-radius: 16px;
    padding: 12px
}

.creation-container {
    display: flex;
    gap: 20px;
    width: 98%;
    margin-top: 20px;
}

.board {
    background-color: $lime;
    border-radius: 16px;
    padding: 12px
}